.mainRow {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .siderContainer {
    background: rgb(240, 183, 183);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transition: all;
    transition-duration: 500ms;
    height: 100%;
    width: 100%;

    .header {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1,
    .siderCollapsBtn {
      font-size: 25px;
      padding: 10px;
    }
  }

  .content {
    height: 100%;
    padding: 20px;
    background-color: rgb(233, 230, 230);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all;
    transition-duration: 100ms;
    display: flex;

    .btnContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      width: 100%;
      .addBtn {
        font-weight: 600;
        &&:hover {
          color: green;
          border: 1px solid green;
        }
      }
    }

    .tableContainer {
      height: auto;
      width: 100%;
      overflow: auto;
    }
  }
}
